{% include base_path %}

{% include archive/entry-vars.html %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% include archive/teaser-image.html type=include.type %}

    <h2 style="color:black;font-size:medium;">
      {% include archive/title-link.html %}
    </h2>

    {% if post.status == 'Published' %}
      <p><b>Status:</b> Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.status == 'Submitted' %}
      <p><b>Status:</b> Submitted to <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
    {% elsif post.status == 'In Preparation' %}
      <p><b>Status:</b> In Preparation</p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %}

  </article>
</div>
